* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#circle-animation {
   background-color: gray;
   height: 500px;
   width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.circle {
    background-color: brown;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-play {
    height: 50px;
    width: 50px;
    background-color: #0a1827;
    
    
}


.clock {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    

}


.clock-box {
    height: 200px;
    width: 200px;
    background-color: #0a182752;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50%;
    border: 10px dashed rgb(172, 178, 0);
    box-shadow: 2px 2px 10px gold;
    z-index: 6;
    overflow: hidden;
    
    
    
    



}

.clock::before {
    position: absolute;
    content: '';
    background-image: conic-gradient(transparent, transparent, rgb(240, 16, 16));
    height: 400%;
    width: 400%;
    animation: animate 10s linear infinite;
}

.clock::after {
    position: absolute;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, rgb(116, 155, 26));
    height: 250px;
    width: 2500px;
    animation: animate 10s linear infinite;
}
@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.top {
    position: absolute;
    top: 0;
}

.left {
    position: absolute;
    left: 0;
    
}

.bottom {
    position: absolute;
    bottom: 0px;
}

.right {
    position: absolute;
    right: 0;
}

.point {
    height: 10px;
    width: 10px;
    background-color: gold;
    border-radius: 50%;
    z-index: 5;
    
}

.second {
    height: 35%;
    background-color: rgb(255, 255, 255);
    animation: rotateS 60s steps(60) infinite;

}

@keyframes rotateS {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.second .minutes .hours {
    position: absolute;
    bottom: 50%;
    width: 5px;
    transform-origin: bottom;
    clip-path: polygon(50% 0, 100% 5%, 100% 100%, 0 100%, 0 5%);
    
}

.minutes {
    height: 30%;
    background-color: rgb(255, 225, 225);
    animation: rotateM 3600s linear infinite;
}

@keyframes rotateM {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.hours {
    height: 25%;
    background-color: gold;
    animation: rotateh 43200s linear infinite;
}

@keyframes rotateh {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.top, .right, .bottom, .left {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    color: goldenrod;
}

